<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Post Details</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-grat-100 font-sans antialiased">

  <!-- Navbar -->
  <header class="flex justify-between p-4 items-center shadow-md">
    <h1 class="text-xl font-bold">Al Blog Generator</h1>
    <div>
      <a href="#" class="hover:underline mx-4">Welcome Muskan</a>
      <a href="/blog-list" class="hover:underline mx-4">Saved Blog Posts</a>
      <button class="py-2 px-4 bg-red-800 hover:bg-red-900 text-white rounded-md">Signup</button>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container mx-auto mt-10 px-4 sm:px-0">
    <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">

      <section>
        <h2 class="text-xl mb-4 font-semibold">Blog Post Details</h2>
        <div class="border border-gray-300 p-4 rounded-lg">
          <h3 class="text-lg font-semibold">Youtube Title</h3>
          <p class="text-gray-700">Generated content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, vero.</p>
          <hr class="my-4 border-gray-300">
          <h4 class="text-lg font-semibold">Youtube Title</h4>
          <p class="text-gray-700">This will be the youtube title</p>
          <h4 class="text-lg font-semibold mt-4">Youtube Link</h4>
          <a href="{{blog_article_detail.youtube_link}}"
            class="text-blue-600 hover:underline">Link to youtube</a>
        </div>
      </section>
    </div>
  </div>
</body>

</html>