<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex flex-col justify-center gap-20">
  <header class="flex justify-between p-4 items-center shadow-md">
    <h1 class="text-xl font-bold">Al Blog Generator</h1>
    <div>
      <button class="py-2 px-4 bg-red-800 hover:bg-red-900 text-white rounded-md"><a href="/login">Login</a></button>
      <button class="py-2 px-4 bg-red-800 hover:bg-red-900 text-white rounded-md"><a href="/signup">Signup</a></button>
    </div>
  </header>
  <div class="flex justify-center items-center">
    <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-8">
      <h1 class="text-2xl font-bold mb-6 text-center">Sign Up</h1>
      <form action="" method="POST">
        {% csrf_token %}

        {% if error_messages %}
        <div align="center" class="text-red-500">
          <h2>{{ error_messages }}</h2>
        </div>
        {% endif %}

        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="name">
            Username
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="username" type="text" placeholder="Enter your username" name="username">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="email">
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" type="email" placeholder="Enter your email" name="email">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2" for="password">
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password" type="password" placeholder="Enter your password" name="password">
        </div>
          <div class="mb-6">
            <label class="block text-gray-700 font-bold mb-2" for="confirm_password">
              Condfirm Password
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="confirm_password" type="password" placeholder="Condfirm your password" name="confirm_password">
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Sign Up
          </button>
          <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/login">
            Already have an account?
          </a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>